<!-- universite-list.component.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-stat></app-stat>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Table Universités</h4>
        <h6 class="card-subtitle">
          <div class="row">
            <div class="col-2">
              <a type="button" routerLink="create" class="btn btn-success"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                <i class="fa fa-plus" style="font-size:16px"></i>&nbsp; Ajouter Université
              </a>
            </div>

            <div class="col-1" style="display: flex; align-items: center;">
              <span style="font-size: 20px; color: black;">Lignes :</span>
            </div>

            <div class="col-1">
              <select class="form-control" [(ngModel)]="nombre" (change)="pagination(nombre, page)">
                <option>Nombre de lignes</option>
                <option>4</option>
                <option>6</option>
                <option>8</option>
              </select>
            </div>

            <div class="col-1" style="display: flex; align-items: center;">
              <span style="font-size: 20px; color: black">Page :</span>
            </div>
            <div class="col-1">
              <input type="number" class="form-control" [(ngModel)]="page" (change)="pagination(nombre, page)" />
            </div>

            <div class="col-3">
              <button type="button" (click)="exportPDF()" class="btn btn-warning"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                <i class="fa fa-file-pdf-o" style="font-size: 16px"></i>&nbsp; PDF
              </button>
              &nbsp;
              <button type="button" (click)="exportExcel()" class="btn btn-warning"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                <i class="fa fa-file-excel-o" style="font-size:16px"></i>&nbsp; Excel
              </button>
            </div>

            <div class="col-3">
              <input class="form-control" style="border : 1px solid rgba(27, 27, 27, 0.368)"
                placeholder="Rechercher université..." [(ngModel)]="input" />
            </div>
          </div>
        </h6>

        <div class="table-responsive">
          <table id="zero_config" class="table table-striped table-bordered no-wrap">
            <thead>
              <tr>
                <th>Nom</th>

                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of listUniversites | filter:input">
                <td>{{u.nomUniv}}</td>

                <td>
                  <button type="button" [ngClass]="['btn', 'btn-danger']"
                    style="margin-right: 20px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                    (click)="deleteUniversite(u.idUniv)">
                    <i class="fa fa-trash-o" style="font-size:18px"></i> Delete
                  </button>
                  <button [routerLink]="['edit', u.idUniv]" class="btn btn-warning"
                    style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <i class="fa fa-edit" style="font-size:18px"></i> Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>