<div class="page">
  <!-- Sidebar Navigation -->
  <nav class="side-navbar">
    <div class="side-navbar-inner">
      <div class="sidebar-header d-flex align-items-center justify-content-center p-3 mb-3">
        <div class="sidenav-header-inner text-center">
          <a href="#">
            <img src="../../assets/images/Logo_ESPRIT_Ariana.jpg" alt="esprit_logo" class="dark-logo"
              style="height: 82px; width: 184px; margin-top: 37px;">
          </a>
        </div>
      </div>

      <ul class="list-unstyled">
        <li class="sidebar-item"><a class="sidebar-link" routerLink="/home"><i data-feather="home"></i> Home</a></li>
        <li class="sidebar-item"><a class="sidebar-link" routerLink="/home/etudiant"><i data-feather="users"></i>
            Etudiant</a></li>
        <li class="sidebar-item"><a class="sidebar-link" routerLink="/home/contrat"><i data-feather="file-text"></i>
            Contrat</a></li>
        <li class="sidebar-item"><a class="sidebar-link" routerLink="/home/equipe"><i data-feather="briefcase"></i>
            Equipe</a></li>
        <li class="sidebar-item"><a class="sidebar-link" routerLink="/home/universite"><i data-feather="book"></i>
            Universite</a></li>
        <li class="sidebar-item"><a class="sidebar-link" routerLink="/home/departement"><i data-feather="layers"></i>
            Departement</a></li>
      </ul>
    </div>
  </nav>

  <div class="content">
    <!-- Navbar -->
    <header class="header mb-5 pb-3">
      <nav class="nav navbar fixed-top">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between w-100">
            <ul class="nav-menu mb-0 list-unstyled d-flex flex-md-row align-items-md-center ms-auto">

              <li class="nav-item">
                <a class="nav-link text-white text-sm ps-0" href="#">
                  <span class="d-none d-sm-inline-block">Logout</span>
                  <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                    <use xlink:href="#security-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Default Welcome Content -->
    <section class="container mt-5" *ngIf="!isChildRouteActive()">
      <div class="text-center">
        <h1 class="display-4 text-primary">Welcome to Kaddem Dashboard</h1>
        <p class="lead text-muted">Manage universities, students, and departments easily.</p>
      </div>

      <!-- Statistics Cards -->
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card text-center shadow-lg p-3">
            <i class="fa fa-university fa-3x text-primary"></i>
            <h4 class="mt-3">Total Universités</h4>
            <p class="lead">{{ totalUniversites }}</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center shadow-lg p-3">
            <i class="fa fa-users fa-3x text-success"></i>
            <h4 class="mt-3">Total Etudiants</h4>
            <p class="lead">{{ totalEtudiants }}</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center shadow-lg p-3">
            <i class="fa fa-building fa-3x text-warning"></i>
            <h4 class="mt-3">Total Departements</h4>
            <p class="lead">{{ totalDepartements }}</p>
          </div>
        </div>
      </div>

      <!-- Quick Navigation Buttons -->
      <div class="row mt-5 text-center">
        <div class="col-md-4">
          <a routerLink="/home/universite" class="btn btn-primary btn-lg">Manage Universités</a>
        </div>
        <div class="col-md-4">
          <a routerLink="/home/etudiant" class="btn btn-success btn-lg">Manage Etudiants</a>
        </div>
        <div class="col-md-4">
          <a routerLink="/home/departement" class="btn btn-warning btn-lg">Manage Departements</a>
        </div>
      </div>
    </section>


    <div class="container d-flex justify-content-center align-items-center mt-4" style="min-height: 60vh;">
      <div class="w-100">
        <router-outlet></router-outlet>
      </div>
    </div>